<div class="bg-white my-12 pb-6 w-full justify-center items-center overflow-hidden md:max-w-sm rounded-lg shadow-sm mx-auto">
  <div class="relative h-40">
    <img class="absolute h-full w-full object-cover" src="">
  </div>
  <div class="relative shadow mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
    <img class="object-cover w-full h-full" src="http://placekitten.com/g/200/200">
  </div>
  <div class="mt-16">
    <h1 class="text-lg text-center font-semibold">
      <%= @meetup.host.nickname %>
    </h1>
    <p class="text-sm text-gray-600 text-center">
      <%= @meetup.title %>
    </p>
  </div>
  <div class="mt-6 pt-3 flex flex-wrap mx-6 border-t">
  </div>
</div>