<div class="bg-white my-12 pb-6 w-full justify-center items-center overflow-hidden md:max-w-sm rounded-lg shadow-sm mx-auto">
  <div class="relative h-40">
    <img class="absolute h-full w-full object-cover" src="">
  </div>
  <div class="relative shadow mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
    <%= image_tag @meetup.host.image_url || "http://placekitten.com/g/200/200", width: 200, height: 200, class: "object-cover w-full h-full" %>
  </div>
  <div class="mt-16">
    <h1 class="text-lg text-center font-semibold">
      <%= @meetup.host.nickname %>
    </h1>
    <p class="text-sm text-gray-600 text-center">
      <%= @meetup.title %>
    </p>
  </div>
  <div class="mt-6 pt-3 flex flex-wrap mx-6 border-t">
    <% if current_user %>
      <% unless @meetup.participants.ids.include? current_user.id %>
        <% if @meetup.host != current_user %>
          <%= link_to join_meetup_path(@meetup), method: :put, class: "mx-1 px-3 py-2 round-lg text-white bg-green-500 hover:bg-green-300" do %>
            참가 신청하기
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      로그인한 사람만 참가신청 가능하지롱
    <% end %>
  </div>
</div>